@import 'design-system';
@import 'header';
@import 'footer';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

* {
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

// LANDING //
//=========//
main {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.landing {
	margin: 0 auto;
	padding: 0;
	max-width: 1240px;
	height: calc(80vh - 120px);
	border: 1px solid black;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

// .hero-image {
// }

// .hero-image img {
// }

.intro-description {
	width: 50%;
	border: 1px solid red;
}

.intro-description h1 {
	@include headingL;
	color: $dark-blue;
}

.intro-description p {
	@include bodyM;
	color: $grey;
}

.intro-description .landing-btn {
	@include orangeBtn;
	@include bodyS;
	color: $white;
}

.intro-description .landing-btn:hover {
	@include orangeBtnHover;
	@include bodyS;
	color: $white;
}

// INFORMATION //
//=============//
.info {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background-image: linear-gradient($white, $bg-grey);
	border: 1px solid pink;
}

.info-container {
	margin: 0 auto;
	max-width: 1240px;
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	border: 1px solid black;
}

.popular {
	border: 1px solid black;
}

.animation {
	border: 1px solid black;
}

.design {
	border: 1px solid black;
}
