@import 'design-system';
@import 'header';
@import 'footer';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

* {
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
