@import 'design-system';
@import 'header';
@import 'info-blocks';
@import 'footer';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

* {
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

// BACKGROUND IMAGE //
//==================//
.hero-image {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 0;
	overflow-x: hidden;
}

.hero-image img {
	position: absolute;
	width: 1100px;
	right: -100px;
	top: -150px;
}

.hero-image-mobile {
	display: none;
}

// LANDING //
//=========//
main {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

.landing {
	margin: 0 auto;
	padding: 0;
	max-width: 1240px;
	height: calc(80vh - 120px);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.intro-description {
	width: 45%;
}

.intro-description h1 {
	@include headingL;
	color: $dark-blue;
}

.intro-description p {
	@include bodyM;
	color: $grey;
}

.intro-description .landing-btn {
	@include orangeBtn;
	@include bodyS;
	color: $white;
}

.intro-description .landing-btn:hover {
	@include orangeBtnHover;
	@include bodyS;
	color: $white;
}

// INFORMATION //
//=============//
.info {
	margin: 0 auto;
	padding: 40px 0 80px 0;
	width: 100%;
	background-image: linear-gradient($white, $bg-grey);
}

.info-container {
	margin: 0 auto;
	max-width: 1240px;
	display: grid;
	grid-column-gap: 2rem;
	grid-row-gap: 80px;
	grid-template-columns: repeat(3, 1fr);
}

.popular {
	@include intro-info-block;
}

.animation,
.design,
.photography,
.crypto,
.business {
	@include info-block;
	@include info-block-content;
}

.icons {
	margin-top: -70px;
}

.info-headings {
	@include headingS;
}

.info-description {
	@include bodyM;
	margin: -10px 0 20px 0;
}

.info-btn {
	background: none;
	border: none;
	color: $pink;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 800;
	cursor: pointer;
}

.info-btn:hover {
	color: rgba($color: $pink, $alpha: 0.7);
}

// MEDIA QUERIES //
//===============//

//Viewports between 1250px and 1675px wide
@media screen and (min-width: 1250px) and (max-width: 1675px) {
	.hero-image img {
		width: 1000px;
		right: -300px;
		top: -150px;
	}
}

//Viewports between 1025px and 1250px wide
@media screen and (min-width: 1025px) and (max-width: 1250px) {
	.info-container {
		padding: 2%;
		grid-column-gap: 1.2rem;
	}

	.intro-description {
		width: 45%;
		padding: 0 2%;
	}

	.hero-image img {
		width: 950px;
		right: -350px;
		top: -150px;
	}
}

//Viewports between 768px and 1024 wide
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.info-container {
		padding: 2%;
		grid-column-gap: 2rem;
		grid-template-columns: repeat(2, 1fr);
	}

	.intro-description {
		width: 48%;
		padding: 0 2%;
	}

	.hero-image img {
		width: 820px;
		right: -350px;
		top: -80px;
	}
}

//Viewports between 320px and 768px wide
@media screen and (min-width: 320px) and (max-width: 767px) {
	.info-container {
		padding: 2%;
		grid-column-gap: 0rem;
		grid-template-columns: repeat(1, 1fr);
	}

	.popular {
		@include intro-info-block-mobile;
	}

	.hero-image {
		display: none;
	}

	.landing {
		margin: 0 auto;
		padding: 0;
		max-width: 768px;
		height: calc(100vh - 120px);
		display: flex;
		flex-flow: column nowrap;
		border: 1px solid black;
	}

	.intro-description {
		width: 100%;
		padding: 0 2%;
		border: 1px solid yellow;
	}

	.hero-image img {
		display: none;
	}

	.hero-image-mobile {
		margin: 0 auto;
		padding: 0;
		position: relative;
		width: 100%;
		height: auto;
		border: 1px solid pink;
	}

	.hero-image-mobile img {
		width: 500px;
	}
}
